body{
    text-align: center;
}
.btn {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2.5rem;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.red {
    background-color: rgb(248, 119, 119);
}
.yellow {
    background-color: rgb(213, 213, 118);
}
.green {
    background-color: rgb(157, 227, 203);
}
.purple {
    background-color: rgb(218, 124, 218);
}
.flash {
    background-color: white;
}
.userFlash{
    background-color: rgb(5, 59, 5);
}